nav {
  background-color: #091e4500;
  padding: 10px;
  font-family: "Arial", sans-serif;
  transition: background-color 0.3s ease;
  border-radius: 5px;
  /* box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.155); */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  width: 100%;
}

.scrollNav {
  /* background-color: #bbb; */
  background-color: rgb(0, 0, 0);
}

.scrollNav a {
  color: #E5F7F7 !important;
}


.menu-btn,
#menu-toggle {
  display: none;
}

.menu {
  list-style-type: none;
  margin: 0;
  margin-left: 100px;

  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu li {
  margin-right: 20px;
}

a {
  text-decoration: solid;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

a:active {
  color: #fff;
  background-color: burlywood;
}

a:hover {
  background-color: #61969f;
  /* color: #FFF; */
}

/* Media query for responsive design */
@media (max-width: 768px) {
  .menu-btn {
    display: inline-block;
    /* Show the menu toggle button */
    cursor: pointer;
  }

  .menu {
    display: none;
    /* Hide the menu items by default */
    flex-direction: column;
    align-items: flex-start;
    background-color: #E5F7F7;
    padding: 10px;
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
  }

  .menu li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  /* Animation for menu toggle button */
  .menu-icon {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #333;
    position: relative;
    transition: transform 0.3s ease;
  }

  /* Animate the menu toggle button on click */
  input[type="checkbox"]:checked~.menu-btn .menu-icon {
    transform: rotate(45deg);
  }

  /* Show the menu items when menu toggle button is checked */
  input[type="checkbox"]:checked~.menu {
    display: flex;
  }
}


/* Scroll to top is a the button to go to top */
.scroll-to-top {

  position: fixed;
  height: 44px;
  width: 44px;
  bottom: 20px;
  right: 20px;
  display: none;
  /* filter: drop-shadow (rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px); */
  filter: drop-shadow(3px 5px 2px rgba(15, 10, 10, 0.4));
  background-color: #e6f8f700;
  mix-blend-mode: multiply;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}


.scroll-to-top.show {
  /* display: block; */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.66;
}

.scroll-to-top:hover {
  opacity: 2;
}


.user-icon {
  margin-left: auto ;
  margin-right: 100px !important;
  /* Push the user-icon to the left by taking up available space */
}

.user-icon-img{
  width: 20px;
  height: 20px;
  padding: 0;
  color: white;
}

.scroll-user-icon svg{
  fill: white;
}

.user-icon-list{
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px;
  position: absolute;
  border-radius: 8px;
  top: 50px;
  width: 100px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.user-icon-list button{
  background-color: #fff;
  color: black;
  font-size:medium;
  padding-left: 10px;
}

.login-active::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(2px); /* Adjust the blur amount as needed */
  z-index: 1;
}

/* Glass effect for the modal */
.login-active {
  background-color: rgba(255, 255, 255, 0.229); /* Adjust the opacity as needed */
}